services:
  log-generator-api_gateway:
    image: logsinfra-log-generator-api_gateway:latest
    volumes:
      - logs-storage:/app/logs:rw
    env_file:
      - ./loggenerator/.env
    environment:
      - COMPONENT_TO_USE=payment_processor

  fluentd:
    build:
      context: ./fluentd 
    volumes:
      - logs-storage:/tmp/logs:ro
      - fluentd-pos:/tmp/pos:rw
    networks:
      - logs-network
    env_file:
      - ./fluentd/.env

  kafka-controller-1:
    image: apache/kafka:latest
    container_name: kafka-controller-1
    hostname: kafka-controller-1

    environment:
      KAFKA_NODE_ID: 1
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-controller-1:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-controller-1:9093

    volumes:
      - ./kafka/data/kafka-controller-1:/tmp/kraft-combined-logs
    
    env_file:
      - ./kafka/conf/.controller.env

    networks:
      - logs-network

  kafka-broker-1:
    image: apache/kafka:latest
    container_name: kafka-broker-1
    hostname: kafka-broker-1

    volumes:
      - ./kafka/data/kafka-broker-1:/tmp/kraft-broker-logs

    environment:
      KAFKA_NODE_ID: 2
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker-1:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-controller-1:9093
    
    env_file:
      - ./kafka/conf/.broker.env

    networks:
      - logs-network

  logstash:
    build: 
      context: ./logstash
    
    env_file:
      - ./logstash/.env

    networks:
      - logs-network

networks:
  logs-network:
    external: true

volumes:
  logs-storage:
    external: true
  fluentd-pos:
