services:
  log-generator-api_gateway:
    build: 
      context: ./loggenerator
      dockerfile: Dockerfile.Shared_Volume
    volumes:
      - logs-storage:/app/logs:rw
    env_file:
      - ./loggenerator/.env
    environment:
      - COMPONENT_TO_USE=api_gateway

  fluentd:
    build:
      context: ./fluentd
      dockerfile: Dockerfile.Shared_Volume  
    volumes:
      - logs-storage:/tmp/logs:ro

networks:
  logs-network:
    external: true

volumes:
  logs-storage:
    external: true